<ion-header no-shadow no-border>
  <ion-navbar transparent>
    <ion-title>Authenticator</ion-title>
    <ion-buttons end>
      <button *ngIf="!loggedIn" ion-button icon-right (click)="settings()" color="darker"><ion-icon name="cog"></ion-icon></button>
      <!-- <button *ngIf="loggedIn" ion-button icon-right (click)="logout()" color="dark"><ion-icon name="ios-log-out"></ion-icon></button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid *ngIf="accounts.length > 0">
    <ion-row>
      <ion-col *ngFor="let account of accounts; let i = index" col-xlg-2 col-lg-3 col-md-4 col-sm-12 col-12>
        <ion-card ion-long-press [interval]="300" (onPressing)="pressed(i)">
          <ion-card-content>
            <img *ngIf="account.link" class="logos" float-left src="https://logo.clearbit.com/{{account.link}}?size=25" />
            <img *ngIf="!account.link" class="logos" float-left src="assets/imgs/logo.png" />
            <div class="providers" float-left> &nbsp; {{account.issuer}}</div>
            <br />
            <p class="card-title">
              {{account.code}}
               <circle-progress float-right [percent]="account.timer"></circle-progress>
            </p>
            <p>{{account.label}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding *ngIf="accounts.length === 0">
    <p class="headerNoAccounts">No accounts added yet :(</p>
    <p class="textNoAccounts">Add something first by clicking the '+' symbol on the bottom right!</p>
  </div>

  <ion-fab right bottom>
   <button ion-fab (click)="addCodeModal()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>

</ion-content>
<!--
<ion-footer no-shadow no-border>
  <ion-navbar transparent>
    <ion-buttons end>
      <button ion-button icon-right (click)="addCode()"><ion-icon name="ios-camera"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-footer> -->
