page-home {
  ion-title {
    text-align: center;
  }

  .card-title {
    font-size: 1.5em;
  }

  .logos {
    width: 12px;
    height: 12px;
  }

  .providers {
    margin-top: -3px;
    font-size: 0.95em;
  }

}
